:root {
    --basic-red:  #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background:  #F1F5F7;
    --light-grayish-blue:  #F2F6F8;
    --mild-grey: #A9A9A9;
    --light-grey: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --green: #518534; 
    --grey: #E5E5E5;
    --dark-green: #367315; 
    --black-blue: #161D29;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #3BBCE3;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-green: #5FBB2D;
    --light-orange: #FFBF47;
    --rose-red:  #BA2732;
    --dark-blue: #293449;
    --mild-blue: #32425C; 
    --midnight-blue: #1D2739; 
    --header-background-color: #f3f7f8;
    --transparent-black: rgba(0, 0, 0, 0.24); 
    --transparent-white: rgba(255, 255, 255, 0.5); 
    --blue: #212A3A; 
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

.main-header {
    width: 100%;
    background-color: var(--header-background-color);
}

.main-menu {
    background-color: var(--dark-blue);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--transparent-black); 
    width: 220px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.menu-buttons-list {
    display: flex;
    list-style: none;
}

.menu-buttons-list a {
    color: var(--white);
}

.menu-buttons-list a:active {
    background-color: var(--black-blue);
    color: var(--rgba-grey);
}

.cart-button {
    background: var(--special-green);
    width: 150px;
    height: 42px;
    margin-top: 0;
    text-align: center;
    align-self: center;
}

.cart-button:active {
    background-color: var(--basic-green);
    color: var(--transparent-white);
}

.company-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-description {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    width: 197px;
    height: 71px;
}

.company-contacts .container {
    border: 3px solid var(--white);
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number  {
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.company-contacts p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--mild-blue);
    margin-top:3px;
}

.login-buttons {
    display: flex;
    list-style:none;
}

.login-buttons li {
    color: var(--black);
    background-color: var(--white);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-buttons li:first-child {
    width: 121px;
    height: 45px;
}

.login-buttons li:last-child {
    width: 150px;
    height: 45px;
}

.login-buttons a {
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
}

.login-buttons a:hover {
    color: var(--basic-red);
}

.login-buttons a:active {
    color: var(--basic-greylight);
}

/* Navigation */

.main-navigation {
    background-color: var(--mild-blue);
    box-shadow: inset 0px -5px 0px var(--dark-blue);
    color: var(--white);
    width: 940px;
    margin: auto;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    list-style:none;
}

.site-navigation a {
    color: var(--white);
}

.site-navigation a:hover {
    background-color: var(--dark-blue);
}

.site-navigation a:active {
    background-color: var(--midnight-blue);
    opacity:  0.5;
}

/* About company section */

.info-about-company {
    color: var(--black);
    display: flex;
    justify-content: space-around;
}

.about-company,
.main-contacts {
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-company p,
.main-contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about-company h2,
.main-contacts h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-company p {
    width: 478px;
}

.main-contacts p {
    width: 180px;
}

.more {
    background-color: var(--basic-red);
    width: 220px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more,
.to-form {
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.to-form {
    background-color: var(--basic-red);
    width: 300px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more:active,
.to-form:active {
    background-color: var(--rose-red);
}

/* Footer */

.main-footer {
    width: 100%;
    background-color: var(--mild-blue);
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px var(--transparent-black);
    width: 220px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.footer-navigation li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-navigation a{
    color: var(--basic-background);
}

.footer-submenu {
    display: flex;
    justify-content: space-around;
}

.footer-submenu .phone-number {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.nav-items li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}


.nav-items a {
    color: var(--special-yellowlight);
}

.footer-navigation a:hover,
.nav-items a:hover {
    text-decoration: underline;
}

.footer-navigation a:active,
.nav-items a:active {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer-contacts {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.share {
    display: flex;
}

.share .social {
    width: 44px;
    height: 44px;
    margin-right: 1px;
    vertical-align: middle;
    background: linear-gradient(0deg,var(--blue), var(--blue));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.social:hover,
a.social:active {
    background: var(--basic-red);
}

.copyright,
.feedback,
.author {
    font-size: 16px;
    line-height: 18px;
}

.copyright {
    width: 227px;
    height: 37px;
}

.feedback {
    width: 137px;
    height: 37px;
}

.author {
    width: 98px;
    height: 37px;
}

.feedback a,
.author a {
    color: var(--special-yellowlight);
}

.feedback a:hover,
.author a:hover {
    text-decoration: underline;
}

.feedback a:active,
.author a:active {
    color: var(--rose-red);
    text-decoration: none;
}

.user-name {
    background-color: var(--white);
    color: var(--black);
    width: 299px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-profile .orders:hover,
.user-profile .profile:hover {
    color: var(--basic-red);
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black);
}

.page-title {
    width: 940px;
    background-color: var(--light-grayish-blue); 
    margin:auto;
    color: var(--mild-blue);
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    padding-left: 29px;
    padding-top: 29px;
    padding-bottom: 30px;
}

.filter {
    color: var(--black);
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
    border: none;
    font-size: 15px;
    line-height: 19px;
}

.filter legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.filter-list {
    list-style: none;
}

.main-filter .submit {
    background: var(--white);
    border: 1px solid var(--grey);
    box-sizing: border-box;
    width: 220px;
    height: 38px;
    cursor: pointer;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}

.items {
    font-family: "PT Sans", Arial, sans-serif;
}

.item-card {
    border: 1px solid var(--light-grey);
    width: 220px;
    height: 318px;
}

.item-card h3 {
    color: var(--black);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.old-price {
    color: var(--mild-grey);
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-align: center;
}

.new-price {
    background-color: var(--basic-red);
    width: 141px;
    height: 38px;
    text-align: center;
}

.buy-button {
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--dark-green);
    border-radius: 2px;
    color: var(--white);
}

.bookmark-button {
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
    color: var(--mild-blue);
}

.buy-button,
.bookmark-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.buy-button:hover{
    background-color: var(--special-green);
}

.buy-button:active {
    background-color: var(--green);
}

.bookmark-button:hover {
    border: 3px solid var(--mild-blue);
}

.form-popup,
.notification-popup,
.map-popup {
    display: none;
}

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

